<html>
    <head>
        <title>
            form
        </title>
        <link rel="stylesheet"   href="../public/css/style1.css">
    </head>
    <body>
        <div class =overall>
        <div class =first>
       <img src ="https://images.unsplash.com/photo-1588702547923-7093a6c3ba33?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        </div>
         <div class =second>
         <form id="mine" name="new"  onsubmit=" form()">
        <center><h1>Students Login</h1></center>
        <input type="email" placeholder="E-mail" name="mail" id="mail"><br><br>
        <input type ="text" placeholder="Password" name="pass" id="pass" name="mail"><br><br>
        
        
      <center>  <button >Submit</button><br></center>
      <center> <p>
           <a href="../views/register.html"> New Registration</a>
        </p></center>

         </form>
</div>
</div>
<script src="../public/js/script1.js">

</script>
    </body>
</html>