<html>
    <head>
        <title>reg form</title>
        <link rel="stylesheet"   href="../public/css/regstyle.css">
        
    </head>
    <body>
        <div class=container>
            <div class=c1>
                <form id="new" name="mine"  onsubmit="form()">
                <center><h1>Registration Form</h1></center>
                <input type="text" placeholder="Name" id="name"><br><br>
                <input type ="number" placeholder="Roll Number" id="roll"><br><br>
                <input type ="text" placeholder=" Enter Email" id="email" name="mail"><br><br>
                <input  type="password" placeholder=" Password" id="pass1">
                <progress max="100" value="0" id="strength" style="width: 180px"></progress><br>
                <input  type="password" placeholder="Confirm Password" id="pass2"><br><br>
               Gender <input type ="radio" name="gender">Male
                <input type ="radio" name="gender">Female
                <input type ="radio" name="gender">Others<br><br>
             <center>  <button class="button" onclick="valid()" onclick="check()">Register</button></center>
            </form>
            </div>
            <div class=c2>
                
               <img src="https://images.unsplash.com/photo-1595853035070-59a39fe84de3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80">
            </div>
        </div>
        
<script src="../public/js/script2.js" >
    
    
 
</script>
        
    </body>
</html>