<html>
    <head>
        <title>reg form</title>
        <link rel="stylesheet"   href="../public/css/regstyle.css">
        
    </head>
    <body>
        <div class=" coitainer overall">
            <div class=c1>
                <form action="/SignupValidate" id="new" name="mine"  onsubmit="form()" method="POST">
                <center><h1>Registration Form</h1></center>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" id="name" name="Uname"><br><br>
            </div>
            <div class="form-group">
                <input type ="number" class="form-control" placeholder="Roll Number" id="roll" name="rollno"><br><br>
            </div>
            <div class="form-group">
                <input type ="text" class="form-control" placeholder=" Enter Email" id="email" name="Email">
                <small id=email class="form-text text-muted">Enter a valid mail id</small>
            </div>
            <div class="form-group">
                <input  type="password" class="form-control" placeholder=" Password" id="pass1" name="password">
            </div>
            <div class="form-group">
                <progress max="100" class="form-control" value="0" id="strength" style="width: 180px"></progress><br>
            </div>
            <div class="form-group">
                <input  type="password" class="form-control" placeholder="Confirm Password" id="pass2"><br><br>
            </div>
            <div class="form-group">
               Gender <input type ="radio" class="radio-inline">Male
                <input type ="radio" name="gender" class="radio-inline">Female
                <input type ="radio" class="radio-inline">Others<br><br>
            </div>
            
             <center>  <button class="btn btn-primary bun" onclick="valid()" onclick="check()">Register</button></center>
            </form>
            </div>
            <div class=c2>
                
               <img src="https://images.unsplash.com/photo-1595853035070-59a39fe84de3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80">
            </div>
        </div>
        
<script src="../public/js/script2.js" >
    
    
 
</script>
        
    </body>
</html>