table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-left: 11%;
    width: 80%;
    text-align: center;
}

th {
    background-color: burlywood;
}

tr:nth-child(even) {
    background-color: cadetblue;
    color: white;
}

caption {
    text-align: center;
}

.table {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}