body
{
    background-image: url("https://images.unsplash.com/photo-1480618757544-81c31930008e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1013&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    background-color:rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 380px;
    width:680px;
    border-radius: 40px;
    margin-left: 580px;
    margin-top: 90px;
    padding: 40px;
}
img{
    width: 400px;
}
.c1
{
    margin-top: 20px;
    margin-right: 10px;
}
.c2
{
    margin-top: 20px;
    margin-left: 15px;
}
.button{
    background-image: linear-gradient(to right,purple ,red);
 border-radius: 8px;
    padding:7px;
}